.App {
  text-align: center;
  
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #f2f2f2;
}

.search-sort {
  margin: 20px;
}
